<div id="pictureHelper" class="headText">

	<ul class="row" style="padding:0 0 0 0;margin:0 0 0 0;">
											{{range $index2, $element2 := .P}}
												{{if $element2.URL}}
													
													<li class="col-lg-3 col-md-2 col-sm-3 col-xs-4" style="list-style:none;margin-bottom:25px;">
														<div class="imgDiv">
														<a id="{{$index2}}flickr{{$.Type}}" name="lia" href="#" data-toggle="modal" data-target="#picModal{{$index2}}flickr{{$.Type}}">
								          					<img class="img-thumbnail" src="{{$element2.URL}}">
								        					</a>
														</div>
													</li>
															
													<div class="modal" id="picModal{{$index2}}flickr{{$.Type}}" tabindex="-1" role="dialog" aria-hidden="true">
															
															<div class="modal-dialog" style="width: auto; max-width: 900px;">
															    	<div class="modal-content">
															      		<div class="modal-header login_modal_header">
															        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															      		</div>
															      		<div class="modal-body login-modal row" >
																			<div class='col-md-8 imgdiv'>
																	      		<img class="imageSize" src="{{$element2.URL}}" />		
																				<div style="display:block; text-align:center;">																		
																					<a href="#"  data-toggle="modal" style="float:left;" data-dismiss="modal" data-target="" id="prev{{$index2}}flickr{{$.Type}}">Prev</a>
																					<a href="#"  data-toggle="modal" style="float:right;" data-dismiss="modal" data-target="" id="next{{$index2}}flickr{{$.Type}}">Next</a>
																				</div>
																			</div>
																			<div class="col-md-4" style="padding:0;">
																				<p style="float:left; font-size:medium; clear:both;" name="logA">Source: flickr.com</p>
																				<p style="float:right; font-size:medium; color:black; ">{{$element2.TimeStamp}}</p>
																				<div style="clear:both; padding-top:7%;" >
																					{{if $element2.Description}}
																						
																						<p style="float:left; font-size:small;color:black; max-height:250px; overflow:auto;" ><b>Description: </b>{{$element2.Description}}</p>
																					{{end}}																				
																				</div>
																				<div style="clear:both;">
																					{{range $indexTag, $elementTag := $element2.Keywords}}
																						<a class="tag" style="overflow-wrap:break-word;" href="#{{$.Function}}?getTags_{{$elementTag}}" >{{$elementTag}}</a>
																					{{end}}
																				</div>
																				<div style="padding-top:5px; clear:both;">
																					<form id="commentForm">
																					<div>
																						<input type="text" class="comment" style="height:25px;border-radius:4px;" id="comment" placeholder="Enter Comment..." disabled/>
																						<input type="submit" class="btn submitButton" style="height:25px; padding-top:0;" name="submit" value="submit" disabled/>
																					</div>
																					</form>
																				</div>
																				
																																						
																			</div>
															      		</div>	
															    </div>
														    	</div>
													</div>				
												{{end}}
											{{end}} 
											
											</ul>
	
<div class="nextPrev">
<a href="#{{.Function}}?{{.Tag}},{{.PageIP}},{{.Type}}" id="previous" >Prev</a>
<a href="#{{.Function}}?{{.Tag}},{{.PageIN}},{{.Type}}" id="next" >Next</a> 
</div>
</div>
