<div class="panel-heading internalHeader">
	<h2 id="panelHeader" class="panel-title" style="font-size: 24px">Flickr Glasgow Images</h2>
</div>

<h4 class="headText personalSubtitle">This page enables you to explore a collection of Images of Glasgow from flickr.com<br><b>Enter</b> a tag below to explore</h4>

<div class="row headText">
	<h3 class="col-md-6">Please enter a tag to search</h3>
	<form action="#" class="navbar-form col-md-6" role="search" style="padding-top:2%;">
        		<div class="input-group">
            		<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            		<div class="input-group-btn">
                		<button class="btn btn-default" type="submit" onclick="return flickrMenu('getTags')"><i class="glyphicon glyphicon-search"></i></button>
        			</div>
			</div>
    </form>
	<div style="visibility:visible; clear:both; padding-top:5%; width:auto; margin:0;">
		<div class="panel-heading sectionHeader" id="cloudHeader">
		    <h3 class="panel-title" style="font-size: 24px; visibility:hidden;">Suggested Tags</h3>
		</div>

		<div style="visibility:hidden; clear:both; padding-top:5%;width:auto; margin:0;" id="cloudFlickr">
		</div>
    </div>
	<div class="panel-heading sectionHeader" style="clear:both;">
	    <h4 class="headText personalSubtitle" id="resultAndHeader"></h4>
	</div>
   	<div style="visibility:visible; clear:both; padding-top:5%;" id="resultAnd">
	
		<div id="pictureHelper" class="headText">
		

			<ul class="row" style="padding:0 0 0 0;margin:0 0 0 0; ">
													{{range $index2, $element2 := .P}}
														{{if $element2.URL}}
															
															<li class="col-lg-3 col-md-2 col-sm-3 col-xs-4" style="list-style:none;margin-bottom:25px;">
																<div class="imgDiv">
																	<a id="{{$index2}}flickr" name="lia" href="#" data-toggle="modal" data-target="#picModal{{$index2}}flickr">
											          					<img class="img-thumbnail" src="{{$element2.URL}}">
											        					</a>
																</div>
															</li>
																	
															<div class="modal" id="picModal{{$index2}}flickr" tabindex="-1" role="dialog" aria-hidden="true">
																	
																	<div class="modal-dialog" style="width: auto; max-width: 900px;">
																	    	<div class="modal-content">
																	      		<div class="modal-header login_modal_header">
																	        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																	      		</div>
																	      		<div class="modal-body login-modal row" >
																					<div class='col-md-8 imgdiv'>
																			      		<img class="imageSize" src="{{$element2.URL}}" />		
																						<div style="display:block; text-align:center;">																		
																							<a href="#"  data-toggle="modal" style="float:left;" data-dismiss="modal" data-target="" id="prev{{$index2}}flickr">Prev</a>
																							<a href="#"  data-toggle="modal" style="float:right;" data-dismiss="modal" data-target="" id="next{{$index2}}flickr">Next</a>
																						</div>
																					</div>
																					<div class="col-md-4" style="padding:0;">
																						<p style="float:left; font-size:medium; clear:both;" name="logA">Source: flickr.com</p>
																						<p style="float:right; font-size:medium; color:black;">{{$element2.TimeStamp}}</p>
																						<div style="clear:both; padding-top:7%;" >
																							{{if $element2.Description}}
																								
																								<p style="float:left; font-size:small;color:black; max-height:250px; overflow:auto;" ><b>Description: </b>{{$element2.Description}}</p>
																							{{end}}																			
																						</div>
																						<div style="clear:both;">
																							{{range $indexTag, $elementTag := $element2.Keywords}}
																								<a class="tag" style="overflow-wrap:break-word;" href="#flickrMenu?getTags_{{$elementTag}}" >{{$elementTag}}</a>
																							{{end}}
																						</div>
																						<div style="padding-top:5px; clear:both;">
																							<form id="commentForm">
																							<div>
																								<input type="text" class="comment" style="height:25px;border-radius:4px;" id="comment" placeholder="Enter Comment..." disabled/>
																								<input type="submit" class="btn submitButton" style="height:25px; padding-top:0;" name="submit" value="submit" disabled/>
																							</div>
																							</form>
																						</div>
																						
																																								
																					</div>
																	      		</div>	
																	    </div>
																    	</div>
															</div>				
														{{end}}
													{{end}} 
													
													</ul>
		</div>
	
	</div>  
          
           	
    <div class="panel-heading sectionHeader"  style="visibility:hidden;">
	    
		<h4 class="headText personalSubtitle" id="resultOrHeader"></h4>
	</div>
	<div style="visibility:hidden; clear:both; padding-top:5%;" id="resultOr">
	</div>
</div>
