<div id = "newsHelper">
<div class="panel-heading sectionHeader" style="padding-bottom:0; margin-bottom:0;">
    <h3 class="headText personalHead" style="font-size: 24px">News</h3>
</div>
<h4 class="headText personalSubtitle">8 news articles tagged with <b>'{{.Tag}}'</b> are displayed below<br>Press <b>'Next'</b> to explore more</h4>
<ul class="row" style="padding:0 0 0 0;margin:0 0 0 0;">
					{{range $index2, $element2 := .N}}
												
													
													<li style="list-style:none;margin-bottom:25px;">
														<a href={{$element2.URL}}>{{$element2.Title}}</a>
														
														<!-- <a id="{{$element2.URL}}" name="lia" href="#" data-toggle="modal" data-target="#picModal{{$index2}}news">
								          					<img class="img-thumbnail" src="{{$element2.ImageUrl}}">
								        					</a> -->
														
													</li>
													{{if $element2.ImageUrl}}		
													<div class="modal" id="picModal{{$index2}}news" tabindex="-1" role="dialog" aria-hidden="true">
															
															<div class="modal-dialog" style="width: auto; max-width: 900px;">
															    	<div class="modal-content">
															      		<div class="modal-header login_modal_header">
															        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															      		</div>
															      		<div class="modal-body login-modal row" >
																			<div class='col-md-8' style="padding-bottom:15px;position:relative;">
																	      		<img style="width:90%; height:100%;" src="{{$element2.ImageUrl}}" />		
																				
																			</div>
																			
															      		</div>	
															    </div>
														    	</div>
													</div>	
															
													{{end}}
											{{end}}
	</ul>
	<div class="nextPrev">
	<a href="#flickrNews?{{.Tag}},{{.PageIP}},news" id="previous">Prev</a>
	<a href="#flickrNews?{{.Tag}},{{.PageIN}},news" id="next" >Next</a> 
	</div>
</div>