<!DOCTYPE html>
<html>
<head>
    <title>Glasgow Memory Server (GMS)</title>
    <!--meta(name='description', content='website description')-->
    <!--meta(name='keywords', content='website keywords, website keywords')-->
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link href="resources/stylesheets/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/resources/stylesheets/loginButtons.css">
	<link rel="stylesheet" href="/resources/stylesheets/loginPopup.css">
	<link rel="stylesheet" href="/resources/stylesheets/images.css">
    <!--modernizr enables HTML5 elements and feature detects -->
	<script src="resources/javascripts/jquery.js" type="text/javascript"></script>
    <script src="resources/javascripts/modernizr-1.5.min.js" type="text/javascript"></script>
	<script src="resources/javascripts/scripts.js" type="text/javascript"></script>
</head>

<body>
    <div id="bg"><img alt="home" src="resources/images/glasgow.jpg"></div>

    <div id="main">
        <header>
            <div id="logo">
                <div id="logo_text">
                    <!--class="logo_colour", allows you to change the colour of the text -->

                    <h1><a href="index.html">Glasgow Memory Server
                    (GMS)</a></h1>
                </div>
            </div>
            
            <div id="invisible">
                <div id="invisible_text">
                    <form class="form-wrapper cf">
                		<button type="submit">Search</button><input placeholder="Search here..." required="required" type= "text" aligh="right">
            		  </form>
                </div>
            </div>            
            
                <div id="menu_container">
                    <ul id="menu-bar">
                        <li>
                            <a href="/">Home</a>
                        </li>

								<li>
                            <a href="/today">Today</a>
                        </li>
                                                
                        <li>
                            <a href="/news">News</a>

                            <ul>
                                <li>
                                    <a href="/bbc">BBC</a>
                                </li>
								<li>
                                    <a href="/dr">DailyRecord</a>
                                </li>
                                <li>
                                    <a href="/scotsman">The Scotsman</a>
                                </li>

                                <li>
                                    <a href="/et">Evening Times</a>
                                </li>
                                
                            </ul>
                        </li>

                        <li>
                            <a href="/blog">Blog</a>

                            <ul>
                                <li>
                                    <a href="/blogger">Blogger</a>
                                </li>

                                <li>
                                    <a href="/wordpress">Wordpress</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/image">Image</a>

                            <ul>
                                <li>
                                    <a href="/imgur">imgur</a>
                                </li>

                                <li>
                                    <a href="/flickr">flickr</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/video">Video</a>

                            <ul>
                                <li>
                                    <a href="/bbcvid">BBC</a>
                                </li>

                                <li>
                                    <a href="/youtube">Youtube</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/twitter">Twitter</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
						
						<li class="active" style="float:right">
							<a href="/authenticated">{{.U.FirstName}}</a>
							<ul>
								<li>
									<a href ="/logout">Log Out</a>
								</li>
							</ul>
						</li>						
						
                    </ul>
                </div>            
        </header>
        <div id="site_content" style="min-height:1500px; position:relative;">
			<div style="float:left; height:100%; width:150px;">
				<div id="menu_container2" >
							<ul id="menu-bar2">
								<li>
				                     <a href="/authenticated">Profile</a>
				                 </li>
								<li>
				                     <a href="/pictures">Pictures</a>
				                 </li>
								<li>
				                     <a href="/albums">Albums</a>
				                 </li>
								<li>
				                     <a href="/upload">Upload</a>
				                 </li>
								
							</ul>
				</div>
				<div>
					<p style="font-size:150%;"><u>Popular Tags: </u></p>
				</div>
				<div id="cloud">
				
				</div>
			</div>
			<div style="margin-left:150px;">
				<div style="height:150px; margin-left:20px;">
					<div style="float:left; width:150px; height:150px;">
						<img  src="{{.U.ProfilePicture}}" height=150 width=150 alt="picture" />
					</div>
					<div style="margin-left:160px;">
						<h3> Welcome, {{.U.FirstName}} </h3>
					</div>
				</div>
				<div style="margin-top:20px;">
					<p style="font-size: 150%;text-align: center;">All the pictures with requested tag: </p>
					{{range $index2, $element2 := .T.Photos}}
							{{if $element2.URL}}
									<div style="height:160px; max-width:150px; padding:5px 5px 5px 5px; float:left;">
										<a href="#lightbox{{$index2}}">
								          <img style="max-width:100%;" src="{{$element2.URL}}">
								        </a>
									</div>

										<div class="imageDialog"  id="lightbox{{$index2}}">
											<div>
												<a href="#close" id="close" title="Close" class="close">X</a>
		
												<div style="max-width:600px; float:left; padding:10px;">
													<img  src="{{$element2.URL}}" class="imageClass"/>
												</div>  
											
												<div style="float:left; padding-left:5px; padding-right:5px; text-align:left;">
													<p style="float:left;">{{$element2.OwnerName}}</p>
													<p style="float:right;">{{$element2.Timestamp}}</p>
													<p style="clear:both;">{{$element2.Description}}</p>
													<div>
														<p> Tags: </p>
														{{range $indexTag, $elementTag := $element2.Tags}}
															<a class="tag" href="/tag?{{$elementTag}}">{{$elementTag}}</a>
															<!-- <button type="button" id="{{$elementTag}}" class="tag">{{$elementTag}}</button> -->
														{{end}}
													</div>
												
													<div>
														<form action="/saveComment">
															<div>
																<input type="text" class="comment" name="comment" placeholder="Enter Comment..." />
																<input type="hidden" name="pictureNumber" value="{{$element2.PhotoId}}" />
																<input type="hidden" name="owner" value="{{$element2.Owner}}" />
																<input type="submit" name="submit" value="submit" />
															</div>
														</form>
													</div>
												
													<div>
														<!-- display comments -->
														{{if $element2.Comments}}
															{{range $indexComment, $elementComment := $element2.Comments}}
																{{if $elementComment.Body}}
																	<div class="inner_comment_detail">
																	<p>{{$elementComment.Body}}</p>
																	</div>
																{{end}}
															{{end}}
														{{end}}
													</div>
												</div>
											

										</div> 
									</div>
								{{end}}
					{{end}}
				</div>
			</div>
			<script>
    					tagCloud();
			</script>	
		</div>
		
		
    </div><!--javascript at the bottom for fast page loading -->

</body>
</html>
