	.loginDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}
	
	.loginDialog:target {
		opacity:1;
		pointer-events: auto;
	}
	
	.loginDialog > div {
		width: 600px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#A9A9A9, #7A7A7A);
		background: -webkit-linear-gradient(#A9A9A9, #7A7A7A);
		background: -o-linear-gradient(#A9A9A9, #7A7A7A);
	}
	
	
	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;

	}
	
	.close:hover { background: #FA6A09; }
	
	.registerDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}
	
	.registerDialog:target {
		opacity:1;
		pointer-events: auto;
	}
	
	.registerDialog > div {
		width: 300px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}
	
	
	
	.verticalLine {
	    border-left: 2px solid #a1a1a1;
		padding-left:5px;
		margin-left:auto;
		margin-right:auto;
		display: inline-block;
	
	}
	
	.userLoginButton {
		font-weight: bold;
		font-family: arial;
		font-style: normal;
		font-size: 12px;
		color: #999;
		width: 50px;
		border:none;
		border-radius: 10px;
		margin-top: 15px;
		height: 30px;
		width: 80px;
	
	}
	
	.userLoginButton:hover {
		background: #000;
		background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
		  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
		  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
		  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
		  color: #444444;
		  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		  text-shadow: 2px 2px 3px #FFFFFF;
	}
	
	.submitUserButton {
		font-weight: bold;
		font-family: arial;
		font-style: normal;
		font-size: 12px;
		color: #999;
		width: 50px;
		border:none;
		border-radius: 10px;
		margin-top: 15px;
		height: 30px;
		width: 80px;
	
	}
	
	.submitUserButton:hover {
		background: #A1A1A1;
		  color: #444444;
		  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	}
	
	.email {
		font: bold 15px "lucida sans","trebuchet MS","Tahoma";
		border:2px solid #a1a1a1;
		border-radius: 10px;
		width: 150px;
		height: 30px;
		padding: 5px 30px;
	}
	
	.email2 {
		border:2px solid #a1a1a1;
		border-radius: 10px;
		width: 150px;
		height: 30px;
		padding: 5px 30px;
		margin-bottom:20px;
	}
	
	.loginDiv {
		
		display:inline-block; 
		padding-right: 50px;
		padding-left:40px;
		margin-left : auto;
		margin-right:auto;
		margin-top:0px;
}